nav {
    background-color: black;
}

h2 {
    background-color: rgb(14, 9, 9);
}

h2, p {
    color: white;
}

p {
    background-color: black;
}

ul, li {
    display: inline-block;
    color: white;
}

footer {
    background-color: black;
}

.divFooter {
    /* background-color: blue; */
    display: inline-block;
    padding: 15px;
    margin: 10px 200px 10px 25px;
}